# Homework 2

In [100]:
import pandas as pd 
import matplotlib.pyplot as plt

## Apartment prices

In [27]:
df_booli = pd.read_csv("https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/Booli_sold.csv")

First we calculate the price per square meter.

In [38]:
ppsqm = df_booli["soldPrice"] / df_booli["livingArea"] 
df_booli["ppsqm"] = ppsqm

Then we rank the five most expensive apartments with regard to ppsqm.

In [45]:
relevant_df_booli = df_booli[["livingArea", "soldPrice", "ppsqm"]]
sorted_df_booli = relevant_df_booli.sort_values("ppsqm", ascending = False)
sorted_df_booli.head()

    livingArea  soldPrice          ppsqm
67        24.0    2500000  104166.666667
50        24.0    2450000  102083.333333
54        23.0    2300000  100000.000000
34        25.0    2210000   88400.000000
55        26.9    2300000   85501.858736

Now we calculate the average ppsqm.

In [68]:
relevant_df_booli.mean(axis = 0)["ppsqm"]

58759.382760081724

In [119]:
sorted_df_booli

     livingArea  soldPrice          ppsqm
67         24.0    2500000  104166.666667
50         24.0    2450000  102083.333333
54         23.0    2300000  100000.000000
34         25.0    2210000   88400.000000
55         26.9    2300000   85501.858736
..          ...        ...            ...
93         91.0    3570000   39230.769231
141        69.0    2570000   37246.376812
146        98.0    3500000   35714.285714
151        63.0    2250000   35714.285714
102         NaN    3135000            NaN

[158 rows x 3 columns]

Lastly, we note that the ppsqm seems to be lower for larger apartments.

In [ ]:
##