Vermont - State patrol. Standardized stop data. 
Army clock.

Hypothesis: The later the hour, the more poc get stopped.

In [120]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np
import sqlite3 as sql
import re
import datetime

In [121]:
vermont_all = pd.read_csv('https://raw.githubusercontent.com/elliphantonator/su-mt4007/refs/heads/main/Project/Vermont.csv')

In [122]:
vermont_all['hour'] = pd.to_datetime(vermont_all['time'], format = '%H:%M:%S').dt.hour
relevant_vermont = vermont_all[['hour', 'subject_age', 'subject_race', 'subject_sex']].copy()
relevant_vermont['counter'] = 1 
relevant_vermont[['subject_race', 'counter']].groupby('subject_race').sum().head(10)

                        counter
subject_race
asian/pacific islander     3607
black                      5741
hispanic                   2625
other                       280
unknown                     833
white                    266216

Clean the data set by dropping rows where suject_race == unknown. If subject_race == other it counts as a poc since white people are the only non-pocs.

In [124]:
relevant_vermont = relevant_vermont.replace('unknown', np.nan).dropna()

In [137]:
relevant_vermont[['hour', 'subject_race', 'counter']].groupby(['hour', 'subject_race']).sum()

                             counter
hour subject_race
0    asian/pacific islander      211
     black                       357
     hispanic                    136
     other                        14
     white                      9538
...                              ...
23   asian/pacific islander      238
     black                       320
     hispanic                    144
     other                        18
     white                     11828

[117 rows x 1 columns]